// User custom variables
// =============================================================================
// Custom font icon
// -----------------------------------------------------------------------------
$icon-fonts-path: '../../fonts/' !default;
$icon-fonts: (
  // font-family
  iconfont: (
    weight: normal,
    style: normal,
    // font path
    src: unquote(
        'url("#{$icon-fonts-path}ratchicons.woff") format("woff"),
        url("#{$icon-fonts-path}ratchicons.ttf") format("truetype"),
        url("#{$icon-fonts-path}iconfont.svg#iconfont") format("svg");'
    )
  ),
);

// icon name-unicode map
$icons: (
  all:\e696,
  back:\e697,
  cart:\e698,
  category:\e699,
  close:\e69a,
  comments:\e69b,
  cry:\e69c,
  delete:\e69d,
  edit:\e69e,
  email:\e69f,
  favorite:\e6a0,
  folder:\e6a1,
  form:\e6a2,
  help:\e6a3,
  information:\e6a4,
  less:\e6a5,
  moreunfold:\e6a6,
  more:\e6a7,
  pic:\e6a8,
  qrcode:\e6a9,
  refresh:\e6aa,
  rfq:\e6ab,
  search:\e6ac,
  selected:\e6ad,
  set:\e6ae,
  smile:\e6af,
  success:\e6b1,
  survey:\e6b2,
  training:\e6b3,
  viewgallery:\e6b4,
  viewlist:\e6b5,
  warning:\e6b6,
  wrong:\e6b7,
  account:\e6b8,
  add:\e6b9,
  atm:\e6ba,
  clock:\e6bb,
  remind:\e6bc,
  calendar:\e6bf,
  attachment:\e6c0,
  threecolumn:\e6c3,
  fourcolumn:\e6c4,
  discount:\e6c5,
  service:\e6c7,
  print:\e6c9,
  box:\e6cb,
  process:\e6ce,
  bags:\e6d1,
  beauty:\e6d2,
  electrical:\e6d4,
  home:\e6d7,
  electronics:\e6da,
  gifts:\e6db,
  apparel:\e6dc,
  lights:\e6de,
  sports:\e6e0,
  toys:\e6e1,
  auto:\e6e3,
  jewelry:\e6e4,
  trade-assurance:\e6e5,
  browse:\e6e6,
  rfqqm:\e6e7,
  rfqquantity:\e6e8,
  atmaway:\e6e9,
  rfq1:\e6eb,
  scanning:\e6ec,
  compare:\e6ee,
  filter:\e6f1,
  pin:\e6f2,
  history:\e6f3,
  productfeatures:\e6f4,
  supplierfeatures:\e6f5,
  similarproduct:\e6f6,
  link:\e6f7,
  cut:\e6f8,
  navlist:\e6fa,
  imagetext:\e6fb,
  text:\e6fc,
  move:\e6fd,
  subtract:\e6fe,
  dollar:\e702,
  raw:\e704,
  office:\e705,
  agriculture:\e707,
  machinery:\e709,
  assessedbadge:\e70a,
  gerenzhongxin:\e70b,
  jifen:\e70c,
  renwuguanli:\e70d,
  operation:\e70e,
  remind1:\e713,
  icondownload:\e714,
  map:\e715,
  bad:\e716,
  good:\e717,
  skip:\e718,
  iconfontplay2:\e719,
  iconfontstop:\e71a,
  compass:\e71b,
  security:\e71c,
  share:\e71d,
  store:\e722,
  manageorder:\e723,
  rejectedorder:\e724,
  phone:\e725,
  bussinessman:\e726,
  shoes:\e728,
  mobilephone:\e72a,
  emailfilling:\e72d,
  favoritesfilling:\e730,
  accountfilling:\e732,
  creditlevel:\e735,
  creditlevelfilling:\e736,
  exl:\e73f,
  pdf:\e740,
  zip:\e741,
  sorting:\e743,
  copy:\e744,
  save:\e747,
  inquirytemplate:\e749,
  templatedefault:\e74a,
  libra:\e74c,
  survey1:\e74e,
  ship:\e74f,
  bussinesscard:\e753,
  hot:\e756,
  data:\e757,
  trade:\e758,
  onepage48:\e75a,
  signboard:\e75c,
  shuffling-banner:\e75e,
  component:\e75f,
  component-filling:\e760,
  color:\e761,
  color-filling:\e7cd,
  favorites:\e7ce,
  pic-filling:\e802,
  RFQ:\e803,
  RFQ-filling:\e804,
  originalimage:\e806,
  logistic:\e811,
  Calculator:\e812
);
